body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: normal;
   margin: 0px;
   padding: 0px;
}

header{
	position:absolute;
    top:0%;
	height: 40px;
	width: 100%;
	background-color: #2e3436;
	font-size: 12px;
	-webkit-box-shadow-bottom: 0px 2px 2px 0 rgba(72,72,72,10);
	-moz-box-shadow-bottom: 0px 2px 2px 0 rgba(72,72,72,10);
	 box-shadow: 0px 2px 2px 0 rgba(72,72,72,10);
}

header>h1{
	font-size: 14px;
	color: #d3d7cf;
	margin: 0px;
	padding: 0px 2px;
}

header>h2{
	font-size: 14px;
	color: #babdb6;
	margin: 0px;
	padding: 0px 2px;
}

.formIndex{
	width: 550px;
	height: 120px;
	position:absolute;
    top:50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -275px;
	background-image: -moz-linear-gradient(#dcdbed, #eeeeec);
	background-image: -webkit-linear-gradient(#dcdbed, #eeeeec);
	opacity: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-color: #204a87;
	border-width: 1px;
	border-style: solid;
}

.formaskIndex{
	width: px;
	height:50px;
	background-color: #2e3436;
	background-image: -moz-linear-gradient(#dcdbed, #eeeeec);
	background-image: -webkit-linear-gradient(#dcdbed, #eeeeec);
	-webkit-box-shadow-bottom: 0px 2px 2px 0 rgba(72,72,72,10);
	-moz-box-shadow-bottom: 0px 2px 2px 0 rgba(72,72,72,10);
	box-shadow: 0px 2px 2px 0 rgba(72,72,72,10);
}

.formIndex>form{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 36px;
	margin-top: -22px;
	margin-left: -246px;
}

.formaskIndex>form{
	padding: auto 10px;
	opacity: 1;
}

#askBusqueda{
	padding: 5px 10px;
}

#txtBusqueda{
	width: 380px;
	height: 30px;
	padding: 0px 5px;
	border-color: #3465a4;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: -moz-linear-gradient(#fff, #d3d7cf);
	background-image: --linear-gradient(#fff, #d3d7cf);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: bold;	
}

#btnBusqueda{
	font-size: 16px;

}

footer.index{
   position: absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background-color: #2e3436;
   font-size: 10pt;
   color: #eeeeec;
}

footer.ask{
   clear: bottom;
   width:100%;
   height:30px;   /* Height of the footer */
   background-color: #2e3436;
   font-size: 10pt;
   color: #eeeeec;
   -webkit-box-shadow-bottom: 0px -2px 2px 0 rgba(72,72,72,10);
   -moz-box-shadow-bottom: 0px -2px 2px 0 rgba(72,72,72,10);
   box-shadow: 0px -2px 2px 0 rgba(72,72,72,10);
}

footer>p{
	margin: 0px;
	padding: 2px 2px;
}

#Sugerencia{
	margin: 100px 0px 20px 20px;
	padding: 0px; 
	font-size: 14px;
}

#Correccion{
	color: #f57900;
}

#Correccion:link {color:#204a87;}      /* unvisited link */
#Correccion:visited {color:#3465a4;}  /* visited link */
#Correccion:hover {color:#fcaf3e;}  /* mouse over link */
#Correccion:active {color:#edd400;}  /* selected link */ 

.title{
	color: #204a87;
	font-size: 20px;
	margin: 2px 0px 0px 20px;
	padding: 0px;
}

.ruta{
	color: #4e9a06;
	font-size: 14px;
	margin: 2px 0px 0px 0px;
	padding: 0px;
}

.ruta>a{
	color: #4e9a06;
	font-size: 14px;
	margin: 2px 0px 0px 20px;
	padding: 0px;
}

.extract{
	color: #2e3436;
	font-size: 13px;
	margin: 2px 0px 0px 20px;
	padding: 0px;
	width: 900px;
	text-align: justify;
}

.ask{
	padding: 5px 0px;
}

#mas{
	width: 100%;
	text-align: center;
	padding: 10px 0px;
}

#btnMas{
	height: 40px;
	width: 175px;
	margin: 0px auto;
	padding: 0px auto;
}

#error{
	text-align: center;
}

#fin{
	margin: 10px 0px 20px 20px;
	padding: 0px; 
	font-size: 30px;
	font-family: Courier;
	font-weight: bold;
	color: #ef2929;
}

#aviso{
	margin: 100px 0px 20px 20px;
	padding: 0px; 
	font-size: 30px;
	font-family: Courier;
	font-weight: bold;
	color: #ef2929;
}

#errorimg{
	margin: 37px 50px 40px 50px;

}

