<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>TT-2012- B052</title>
  <meta name="Web Search with Search Engine TT2012-B052" content="" />
  <meta name="author" content="Isaias Daniel García Rodríguez" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="{{ STATIC_URL }}js/Funciones.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.1.custom.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">  
  
</head>

<body>
  <div>
    <header>
      <h1>TT 20012-B052</h1>
      <h2>Sistema de Recuperación de Información para textos en formato plano</h2>
      <div class="formaskIndex">
      <form id="askBusqueda" method="post">
	    {% csrf_token %}
      	<input type="search" id="txtBusqueda" name="Busqueda" value="{{ Busqueda }}">
		<input type="submit" id="btnBusqueda" value="Buscar">
      </form>
      </div>
    </header>

    <div id="Resultado">
    {% if Sugerencia %}
	<h1 id="Sugerencia" class="correccion">Mostrar resultados de <a id="Correccion" href="javascript:NuevaBusqueda('{{ Sugerencia }}')">{{ Sugerencia }}</a></h1>
	{% else %}
	<h1 id="Sugerencia" class="correccion"></h1>
	{% endif %}
		
		{% for item, rank, titulo, contenido in Archivos %}
			<div class="ask">
			<h1 id="title1" class="title">{{ titulo }}</h1>
			<h2 id="ruta1" class="ruta"><a href="{{ item }}">{{ item }}</a></h2>
			<p id="text1" class="extract">{{ contenido }}</p>
			</div>
		{% endfor %}
	</div>

	<div id="mas">
	  <a id="btnMas" href="javascript:masResultados('{{ Busqueda }}')">Mas Resultados</a>
	</div>
 
    <footer class="ask">
     <p>Isaías Daniel García Rodríguez</p>
    </footer>
  </div>
</body>
</html>
