		{% for item, rank, titulo, contenido in Archivos %}
			<div class="ask">
			<h1 id="title1" class="title">{{ titulo }}</h1>
			<h2 id="ruta1" class="ruta"><a href="{{ item }}">{{ item }}</a></h2>
			<p id="text1" class="extract">{{ contenido }}</p>
			</div>
		{% endfor %}
